.aside {
    background-color: rgb(140, 140, 140);
    color: rgb(55, 55, 55);
    height: 100%;
    width: 5vh;
}

.flex-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center
}

.main-container {
    min-height: 95vh;
    margin-left: 85px;
}

.sidebar {
    height: 100vh;
    width: 80px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    transition: width 200ms;
}

.sidebar:hover {
    width: 200px;
    display: flex;
}

.icon {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.label {
    opacity: 0;
    width: 0;
    margin-left: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: opacity 0.3s, width 0.3s, margin-left 0.3s;
    color: #fff;
    font-size: 1rem;
}

.sidebar:hover .label {
    opacity: 1;
    width: 100px; 
    margin-left: 12px;
}

.icon {
    margin-top: 15px;
}

#logout-icon {
    margin-top: 375px;
}

.body-text {
    font-size: 18px;
}