<section class="login-section">
    <form class="flex-column form" action="" #registerForm="ngForm" (ngSubmit)="register(registerForm.form.value)">
        <img id="logo" src="/logo-buggati.png" alt="" width="220" height="240">
        <div>
            <input id="firstName" name="firstName" type="firstName" id="firstName" class="input input-text"
                placeholder="Nombre" ngModel #firstName="ngModel" required="false" autocomplete="firstName">

        </div>
        <div>
            <input id="lastName" name="lastName" type="lastName" id="lastName" class="input input-text"
                placeholder="Apellido" ngModel #lastName="ngModel" required="false" autocomplete="lastName">

        </div>
        <div>
            <input id="email" name="email" type="email" id="email" class="input input-text" placeholder="Email" ngModel
                #email="ngModel" required="true" autocomplete="email">
            @if (email.invalid && !email.pristine) {
            <p class="error">Debe colocar un correo electrónico.</p>
            }
        </div>
        <div>
            <input id="password" name="password" type="password" class="input input-text" ngModel #password="ngModel"
                minlength="4" placeholder="Contraseña" autocomplete="new-password">
            @if (password.invalid && !password.pristine) {
            <p class="error">Debe colocar una contraseña de al menos 4 caracteres.</p>
            }
        </div>
        <div>
            <input id="password2" name="password2" type="password" class="input input-text" ngModel #password2="ngModel"
                minlength="4" placeholder="Repetir contraseña" autocomplete="new-password">
            @if (password.invalid && !password.pristine) {
            <p class="error">Debe colocar una contraseña de al menos 4 caracteres.</p>
            }
        </div>
        @if (errorRegister) {
        <p class="error">Error indeterminado, intente nuevamente.</p>
        }
        <button class="subtitle boton">
            Registrarse
        </button>
    </form>
</section>