section {
    background-color: black;

}

.body {
    margin: 0;
}

.flex-column {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.flex-header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly
}

.form {
    min-height: 100vh;
}

.input-text {
    border: 0;
    font-size: 18px;
}

.input {
    color: rgb(166, 165, 165);
    border-bottom: rgb(160, 160, 160) 2px solid;
    background-color: transparent;
    padding: 15px;
    width: 300px;
}

.boton {
    background-color: rgb(176, 62, 62);
    border: white 0px solid;
    border-radius: 30px;
    margin-top: 10px;
    padding: 7px;
}

.boton:hover {
    cursor: pointer;
}

.title {
    color: black;
    font-size: 30px;
}

.subtitle {
    color: white;
    font-size: 20px;
}

.error {
    color: red;
}